In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('B:\project\Data\Mall_Customers.csv')
df1 = pd.read_csv('B:\project\Data\winequality-red.csv')

In [49]:
fames = [df,df1]

merges = pd.concat(fames)

In [50]:
print(merges)

      CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)  \
0            1.0    Male  19.0                15.0                    39.0
1            2.0    Male  21.0                15.0                    81.0
2            3.0  Female  20.0                16.0                     6.0
3            4.0  Female  23.0                16.0                    77.0
4            5.0  Female  31.0                17.0                    40.0
...          ...     ...   ...                 ...                     ...
1594         NaN     NaN   NaN                 NaN                     NaN
1595         NaN     NaN   NaN                 NaN                     NaN
1596         NaN     NaN   NaN                 NaN                     NaN
1597         NaN     NaN   NaN                 NaN                     NaN
1598         NaN     NaN   NaN                 NaN                     NaN

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               NaN               NaN          NaN             NaN        NaN
1               NaN               NaN          NaN             NaN        NaN
2               NaN               NaN          NaN             NaN        NaN
3               NaN               NaN          NaN             NaN        NaN
4               NaN               NaN          NaN             NaN        NaN
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                     NaN                   NaN      NaN   NaN        NaN
1                     NaN                   NaN      NaN   NaN        NaN
2                     NaN                   NaN      NaN   NaN        NaN
3                     NaN                   NaN      NaN   NaN        NaN
4                     NaN                   NaN      NaN   NaN        NaN
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN
...       ...      ...
1594     10.5      5.0
1595     11.2      6.0
1596     11.0      6.0
1597     10.2      5.0
1598     11.0      6.0

[1799 rows x 17 columns]

In [51]:
df1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                    'Name': ['ABC', 'PQR', 'DEF', 'GHI']})
  
# Second DataFrame
df2 = pd.DataFrame({'id': ['B05', 'B06', 'B07', 'B08'],
                    'Name': ['XYZ', 'TUV', 'MNO', 'JKL']})
  
  
frames = [df1, df2]
  
result = pd.concat(frames)
display(result)

    id Name
0  A01  ABC
1  A02  PQR
2  A03  DEF
3  A04  GHI
0  B05  XYZ
1  B06  TUV
2  B07  MNO
3  B08  JKL

In [45]:
def names(x):
    return x+2
def title(x):
    return x-2
def operators(y,x):
    result =y(x)
    return result
operators(names,8)

10